.frontpage {
    margin-top: 50px;
    padding: 100px;
  }
  
  .carousel-item img {
    /* height: 400px; */
    object-fit: cover;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    color: #fff;
  }
  
  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .carousel-caption p {
    font-size: 18px;
    margin-bottom: 0;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }
  
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    opacity: 1;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 15px;
    height: 15px;
    background-color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel-indicators {
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .carousel-indicators button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #bbb;
    opacity: 0.5;
    margin: 0 5px;
    transition: opacity 0.3s ease;
  }
  
  .carousel-indicators button.active {
    background-color: #fff;
    opacity: 1;
  }
  